<div class="cl-mcont">
    <div class="block-flat">
        <h4>Confirm Email</h4>
        <hr />
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
