@model OnlineExam.Models.ForgotPasswordViewModel
<script type="text/javascript">
    $(document).ready(function () {
        $("#footerDiv").hide();
        $('body').addClass('texture');
    });
</script>
<div id="cl-wrapper" class="forgotpassword-container">
    <div class="middle">
        <div class="block-flat">
            <div class="header"><h3 class="text-center"><img src="~/images/logo-icon.png" alt="logo" class="logo-img">ACADA Store</h3></div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="content">
                    <h5 class="title text-center"><strong>Forgot your password?</strong></h5>
                    <p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your Email" })
                            </div>
                            <div id="email-error"></div>
                        </div>
                    </div>
                    <p class="spacer text-center">Don't remember your email? <a href="#">Contact Support</a>.</p>
                    <button type="submit" class="btn btn-block btn-success btn-rad btn-lg">Reset Password</button>
                </div>
            }
        </div>
        <div class="text-center out-links"><a href="#">© @DateTime.Now.Year - ACADAStore.com</a></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
