<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <br />
    Please be advised that invoice of value <b>[InvoicePrice] </b>has been raised from your account against the
        <br />
    service of Tourist visa. In order to ensure the timely process of your visa application you need to pay the recent invoice on before date.
        <br />
    <br />
    Please find the attachment of Rs<b> [InvoicePrice] </b>. 
        <br />
    <br />
    For further query please contact:
        <br /><br />
    <span style="font-weight: normal; font-size: 12pt;">[CompanyAddressLine1]<br />
        [CompanyAddressLine2]<br />
        [CompanyPhone]
    </span>
    <br />
    <br />
    <br />
    <br />
    --
        <br />
    Thanks and Regards<br />
    Aus-Visa.com<br />
    <img src="ausvisa-logo-icon.png" />
</body>
</html>
