<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body style="background-color:lightgrey">
        
        <table width="100%" height="30%" style="background-color:green">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:center"><img src="ausvisa-logo-icon.png" /></td>
            </tr>
            <tr>
                <td style="text-align:center;color:white"><h1>WELCOME [UserName]!!!!</h1></td>
            </tr>
        </table>
        <table width="90%" align="center" style="background-color:white">
            <tr>
            <tr>
                <td>&nbsp; </td>
            </tr>
                <td>Hi [UserName]</td>
            </tr>
            <tr>
                <td>
                    <table width="95%" align="center">
                        <tr>
                            <td>&nbsp; </td>
                        </tr>
                        <tr>
                            <td>Thank you for using Work Visa Eligibility assessment.</td>
                        </tr>
                        <tr>
                            <td>Please find Attached work visa eligibility report based on your inputs.</td>
                        </tr>
                        <tr>
                            <td>If you are not able to download your report, copy & paste URL into a new browser window [URL]</td>
                        </tr>
                        <tr>
                            <td>For question about assessment or Eligibility Report, Please contact our Support team at: [Email] </td>
                        </tr>
                        <tr>
                            <td>&nbsp; </td>
                        </tr>

                        <tr>
                            <td>Cheers</td>
                        </tr>
                        <tr>
                            <td style="color:yellowgreen">
                                <b>Aus-Visa Team</b>


                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: normal; font-size: 12pt;">
                                    [CompanyAddressLine1]<br />
                                    [CompanyAddressLine2]<br />
                                    [CompanyPhone]
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="90%" align="center">
            <tr>
                <td style="font-size:smaller;color:grey">This Message was sent from a notification-only email address that does not accept incoming email. Please do not reply on this email.</td>
            </tr>
        </table>
       
        <br />
        <br />
      
    </body>
</html>
