<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        
        <table width="100%" height="30%">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr bgcolor=#008000>
                <td style="text-align:center;color:white">Eligibility Report</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table width="90%" align="center">
            <tr>
                <td>Dear [UserName]</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>[Congratulations]!!! you have successfully scored [Points] point in Skill Visa Point Test and [crossed] the threshold of 60 point that is minimum required Points to be invited for Work Visa SubClass 189.</td>
            </tr>
            <tr>
                <td>Point Allocated in each group is mentioned below.</td>
            </tr>
            
            <tr>
                <td>
                    <table style="font:400;font-size:small" border="1">
                        <tr bgcolor=#F5F5F5><td width='80%'>Criteria</td><td>Your Score</td><td>Maximum Score</td></tr>
                        [EligibilityMatrix]

                    </table>
                </td>
            </tr>
            
            <tr>
                <td><b>What Next</b> It is utmost important that you seize the moment and act fast on your application since Australia have closed its door for Direct Visa 
                    Application in Skilled Category and you would need an invitation from the Australian Government. In order to receive an Invitation, you must do an Expression of interest Application.</td>
            </tr>
            <tr>
                <td>
                    <b>Click here</b> to book an appointment with Registered Migration agent(RMA) to discuss your personal circumstances and draw up an service plan to secure a best possible way forward
                </td>
            </tr>
            <tr>
                <td style="color:grey">
                    <i>Note: Please be advised that this letter in not a proffesional advised or part of any professional advised but only a system generated Report of your claims. You Should consult 
                        with RMA for any professional opinion on your personal circumstance.</i>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    Thanks and Regards
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    Aus-Visa.com
                </td>
            </tr>

        </table>
     </body>      
</html>
