<section class="heading-about-page">
    <div class="container">
        <div class="row">
            <div class="headings-allpage">
                <h1>COURSES ACADASTORE</h1><span><img src="~/images/about-heading-img.png" alt="" /></span>
            </div>
        </div>
    </div>
</section>

<section class="bredcums-sec">
    <div class="container">
        <div class="row">
            <h6><span>Home</span>  // About Us</h6>
        </div>
    </div>
</section>

<section class="content-alpage">
    <div class="container">
        <div class="row">
            <h3><a id="JSS1SSS3">1. JSS1 - SSS3</a></h3>
            <h4 class="">POST JOINT ADMISSIONS AND MATRICULATION BOARD (POST UTME/JAMB)</h4>
            @*<p>
                    Post University Tertiary Matriculation Examination (Post UTME/JAMB)is
                    an entrance examination for tertiary-level institutions conducted by
                    individual Nigerian universities and tertiary institutions after the
                    conduction of JAMB examinations in Nigeria. This entrance examination is
                    conducted for high school grandaunts with WAEC certificate or its equivalent.
                    Such candidate must havescored a minimum of 5 credits, written the JAMB examination
                    and satisfied the minimum general entrancecut offgrade set by JAMB for admission
                    into any faculty of choice of a university or tertiary institution. <br />
                    Most universities and tertiary institutions, like JAMB, offer candidates
                    the choice of writing any of four subject combination as suitable entry
                    requirement into a faculty of choice. It may include any of the following
                    subject combination as stated by JAMB like; Mathematics, Biology, Chemistry,
                    Physics, Geography, Agriculture, English Language, Literature in English,
                    Economics, Commerce, Government, Christian Religious Knowledge etc. <br />
                    Candidates with cumulative grades in the four subjects sat for,
                    which meet that cut off grade as set by the faculty of choice,
                    get to proceed to receive admission letters to study such course
                    applied for in that university or tertiary institution.<br />
                    Our practice test questions are suitable aids for students
                    preparing for JAMB, Post UTME/JAMB, WASSCE (May/June) and WASSCE (November/December) otherwise popularly called the GCE O’ levels.
                </p>*@
            <p>
                Acadastore is uniquely designed with the educational advancement of our users in mind. To this end, we have customized our CBT’S into at least 10 subjects and broken down each subject into their respected topics for student users in Junior Secondary Classes 1, 2 and 3 and Senior Secondary Classes 1, 2 and 3.
                <br />
                <br />
                For the respective junior class and senior school class, each subject, as would be taught according to user’s curriculum in their respective school classrooms is broken down into topics and questions created from those topics.  Studying according to topics allows a user to narrow his/her study to any particular topic of concern and have his/her knowledge tested by answering questions generated from only that topic of interest for better understanding and retention. With this feature, users can now surgically focus their study test on those topics, chapters or problem areas taught at school on a daily basis.
                <br /><br />
                Through this study tool, users are better able to precisely <strong> understand</strong> topics taught at school, know what an examiner requires from any given question even if misleadingly framed and improve their daily performance. Studying according to topics would also guard users against being easily swayed by the craftiness of examiners who may sometimes suggest closely related answers.
                <br /><br />
                Right now, for all the academic classes we have the following subjects and their topics represented;
                <br />
                <table class="table table-bordered">
                    <thead style="font-family: 'Open Sans', sans-serif">
                        <tr>
                            <th><strong> JUNIOR SECONDARY CLASS 1, 2 AND 3</strong></th>
                            <th><strong> SENIOR SECONDARY CLASS 1, 2 AND 3</strong></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>ENGLISH</td>
                            <td>ENGLISH</td>
                        </tr>
                        <tr>
                            <td>MATHEMATICS</td>
                            <td>MATHEMATICS</td>
                        </tr>
                        <tr>
                            <td>BASIC SCIENCE</td>
                            <td>BIOLOGY</td>
                        </tr>
                        <tr>
                            <td>BASIC TECHNOLOGY</td>
                            <td>CHEMISTRY</td>
                        </tr>
                        <tr>
                            <td>BUSINESS STUDIES</td>
                            <td>PHYSICS</td>
                        </tr>
                        <tr>
                            <td>AGRICULTURE</td>
                            <td>AGRICULTURE</td>
                        </tr>
                        <tr>
                            <td>HOME ECONOMICS</td>
                            <td>GOVERNMENT</td>
                        </tr>
                        <tr>
                            <td>CIVIC EDUCATION</td>
                            <td>ECONOMICS</td>
                        </tr>
                        <tr>
                            <td>SOCIAL STUDIES</td>
                            <td>COMMERCE</td>
                        </tr>
                        <tr>
                            <td>PHYSICAL AND HEALTH EDUCATION</td>
                            <td>CHRISTIAN RELIGIOUS KNOWLEDGE</td>
                        </tr>
                    </tbody>
                </table>
            </p>

            <h3> <a id="NECO">2. NECO </a></h3>
            <h4 class="">BASIC EDUCATION CERTIFICATION EXAMINATION (BECE) </h4>
            <p align="justify">
                TheNational Examinations Council (NECO) is the examination
                body that conducts the Basic Education Certification Examination (BECE)
                in Nigeria for candidates in their third year of the Junior Secondary School
                to transit from the ninth year of the basic education class to the Senior Secondary School.
                Component states, in Nigeria including the FCT, bear the responsibility for
                conducting the BECE for their respective candidates. NECO on the other hand oversees
                the conduct of the examination for secondary schools under the Armed Forces, Federal Unity Colleges and other Federal establishments.<br />
                Twenty-two subjects are administered at the BECE level. However, a candidate is expected to write a maximum of thirteen subjects and a minimum of ten. Candidates are also expected to pass 6 subjects including Mathematics and English Language to satisfy the minimum general requirement for promotion into the Senior Secondary School class.
                <h4 class="">THE GRADING SYSTEM </h4>
                <ul style="font-size: 16px;">
                    <li>Distinction – A</li>
                    <li>Credit – C</li>
                    <li>Pass – P</li>
                    <li>Fail - F</li>
                </ul>
            </p>
            <h3> <a id="WAEC">3. WAEC </a></h3>
            <h4 class="">West African Examinations Council (WAEC)</h4>
            <p align="justify">
                The West African Senior School Certificate Examination (WASSCE)is a high
                school-leaving standardized academic examination administered by the West
                African Examinations Council. The examination is annually conducted for the
                award of O’ level certificate only to candidates who sit for the examination
                residing in Anglophone West African countries namely; Nigeria, Ghana, Sierra Leone, Liberia and the Gambia.<br />
                The maximum number of subjects offered for WASSCE is nine.
                They may include any of the following; Mathematics, Biology, Chemistry, Physics,
                Geography, Agriculture, English Language, Literature in English,
                Economics, Commerce, Government, Christian Religious Knowledge etc.<br />
                Candidates are expected to score a minimum of 5 Credits in any of their
                relevant subjects sat for to satisfy the minimum general entrance requirement
                into any faculty of choice of a university or tertiary institution.
                Of course, these entry requirements will vary from nation to nation.
            </p>
            <h4 class="">W.A.E.C GRADING SYSTEM.</h4>
            <table class="table table-bordered">
                <thead style="font-family: 'Open Sans', sans-serif">
                    <tr>
                        <th><strong>GRADES</strong> </th>
                        <th><strong>DEFINITION</strong> </th>
                        <th><strong>PERCENTILE SCORE</strong> </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>A1</td>
                        <td>Excellent</td>
                        <td>75% - 100%</td>
                    </tr>
                    <tr>
                        <td>B2</td>
                        <td>Very Good</td>
                        <td>74% - 70%</td>
                    </tr>
                    <tr>
                        <td>B3</td>
                        <td>Good</td>
                        <td>65% - 69%</td>
                    </tr>
                    <tr>
                        <td>C4</td>
                        <td>Credit</td>
                        <td>60% - 64%</td>
                    </tr>
                    <tr>
                        <td>C5</td>
                        <td>Credit</td>
                        <td>61% - 64%</td>
                    </tr>
                    <tr>
                        <td>C6</td>
                        <td>Credit</td>
                        <td>50% - 60%</td>
                    </tr>
                    <tr>
                        <td>YD7</td>
                        <td>Pass</td>
                        <td>45% - 49%</td>
                    </tr>
                    <tr>
                        <td>E8</td>
                        <td>Pass</td>
                        <td>40% - 44%</td>
                    </tr>
                    <tr>
                        <td>F9</td>
                        <td>Fail</td>
                        <td>0% - 39%</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Our practice test questions are suitable aids for students
                preparing for WASSCE (May/June) and WASSCE (November/December) otherwise popularly called the GCE O’ levels.
            </p>

            <h3><a id="JAMB">4. JAMB</a></h3>
            <h4 class="">JOINT ADMISSIONS AND MATRICULATION BOARD (JAMB).</h4>
            <p align="justify">
                The Joint Admissions and Matriculation Board (JAMB)is a Nigerian
                entrance examination board for tertiary-level institutions.
                The board is tasked with conducting entrance examinations for high school
                grandaunts with minimum O’ level WAEC certificate or its equivalent and who
                satisfy the minimum general entrance requirement into any faculty of choice
                of a university or tertiary institution sought. <br />
                JAMB offers candidates the choice of writing any four subject combination
                during the examination. They may include any of the following subject
                combination as stated by JAMB; Mathematics, Biology, Chemistry, Physics,
                Geography, Agriculture, English Language, Literature in English, Economics,
                Commerce, Government, Christian Religious Knowledge etc. <br />
                Candidates with cumulativegrades in the four subjects sat for,
                asset by JAMB, become eligible to proceed and apply to their
                faculty of choice to further satisfy any other minimum general
                entry requirements which includes writing that institution’s entry examination
                popularly called Post UTME/JAMB. Of course, these entry requirements vary from nation to nation.<br />
                Our practice test questions are suitable aids for students preparing for
                JAMB, WASSCE (May/June) and WASSCE (November/December) otherwise popularly called the GCE O’ levels.
            </p>
        </div>
    </div>
</section>