<section class="heading-about-page">
    <div class="container">
        <div class="row">
            <div class="headings-allpage term-page">
                <span><img src="~/images/terms-icon.png" alt="" /></span><h1>Download/Purchase Material</h1>
            </div>
        </div>
    </div>
</section>

<section class="bredcums-sec">
    <div class="container">
        <div class="row">
            <h6><span>Home</span>  // Download Material</h6>
        </div>
    </div>
</section>

<section class="features heading-only color-only content-alpage">
    <div class="container">
        <div class="row"><img src="~/images/launched.png"></div>
    </div>
</section>