<section class="heading-about-page">
    <div class="container">
        <div class="row">
            <div class="headings-allpage term-page">
                <span><img src="~/images/pricing-icon.png" alt="" /></span><h1>OUR PACKAGES</h1>
            </div>
        </div>
    </div>
</section>

<section class="bredcums-sec">
    <div class="container">
        <div class="row">
            <h6><span>Home</span>  // Pricing</h6>
        </div>
    </div>
</section>
<section class="Comparison heading-only color-only">
    <div class="container">
        <div class="row plan">
            <h1>Membership Plans</h1>
            <p>Acadastore is offering 2 packages for all Classes and Categories of exams covering all the subjects. Have a look at the features provided under both packages.</p>
        </div>

        <!--<div class="row table-tabing">
            <div class="col-md-12col-sm-12 col-xs-12 comparison-table comparison-tabs">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h6>&nbsp;</h6>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                    <h6>Text Book</h6>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3 price-tab price-tab-last">
                    <h6>lopper</h6>
                </div>
            </div>-->

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Features</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>~Demo</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>~Basic Membership</h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Registration Fee</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>&#8358; 1500</h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Validity</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>FREE</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>ALL YEAR ROUND</h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>User Profile</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Question Paper Access</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>Only 20%</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>50,000+</h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>E-Wallet</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Download/Purchase Material</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Textual Data Analysis</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Graphical Data Analysis</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Internal Message System</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Access to Classes Per Registration</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>1</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>1</h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Number of members</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>1</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>1</h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Mobile app</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Attempt Standard CBTs</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>20%</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6>Whole</h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Create customized CBTs</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Invite users for Customized CBTs</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table values-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Retest</h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/crose.png"></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><img src="~/images/check.png"></h6>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 comparison-table">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><a href="/Account/Login" class="pricing_table_button">Start Trial</a></h6>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 price-tab">
                <h6><a href="/Account/PreRegister" class="pricing_table_button">Sign Up</a></h6>
            </div>
        </div>

    </div>
</section>