<style>
    thead {
        background-color: #2494F2;
        color: #fff;
    }

    .cl-mcont .row {
        margin-top: 5px;
    }
</style>

<div class="row">
            <div id="divList">
                <table id="tblData" data-toolbar="#custom-toolbar" data-show-export="true" data-export-types="['excel']"
                       data-export-options='{
                                                "fileName": "testo",
                                                "worksheetName": "test1"
                                                }
                                               }'>
                    <thead>
                        <tr>
                            <th data-field="Image" data-sortable="false" class="col-md-1">Image</th>
                            <th data-field="FullName" data-sortable="false">Full Name</th>
                            <th data-field="Class" data-sortable="false">Class</th>
                            <th data-field="Subject" data-sortable="false">Subjects</th>
                            <th data-field="RegisterdDate" data-sortable="false">RegisterdDate</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    function dateFormat(value, row, index) {
        //debugger;
        if (value != null && value.length > 5) {
            var date = new Date(parseInt(value.substr(6)));
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return day + '/' + month + '/' + year;
        } else {
            return value;
        }
    }

    function demoFormat(value, row, index) {
        var result = "";
        if (row.IsDemo) {
            result = "✔️";
        }
        return result;
    }

        function loadList() {
             $.ajax({
            url: 'TeachersList',
                 type: 'GET',
                 data: {},
            datatype: "json",
            success: function (data) {
                    $('#tblData').bootstrapTable('destroy');
                           $('#tblData').bootstrapTable({
                               data: result.data,
                               pagination: true,
                               pageSize: 20,
                               pageList: [10, 20, 50],
                               search: true,
                               showColumns: false,
                               showRefresh: false,
                               minimumCountColumns: 3,
                               clickToSelect: false
                           });
            },
            error: function (data) {
                alert(data.errors);
            },
            complete: function () {

            }
        });
       
    }
        loadList();
</script>
}