<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation />
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ngj0yoq1pa.database.windows.net,1433;Initial Catalog=OnlineExam;Integrated Security=False;User ID=RAVI-PC@ngj0yoq1pa;Password=ZAQ!2wsx123;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ngj0yoq1pa.database.windows.net,1433;Database=OnlineExam;User ID=RAVI-PC@ngj0yoq1pa;Password=ZAQ!2wsx123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OnlineExam.Models.ApplicationDbContext, OnlineExam" MigrationConfiguration="OnlineExam.Migrations.Configuration, OnlineExam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ngj0yoq1pa.database.windows.net,1433;Database=OnlineExam;User ID=RAVI-PC@ngj0yoq1pa;Password=ZAQ!2wsx123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>